<h1>Zwierzęta do adopcji</h1>
<!-- <img src="../../assets/homepage_bg.jpg" class="img-fluid" alt="Schronisko" style="height: 300px;"> -->
<div>
    <div class="adoption-box" *ngFor="let animal of animals">
        <img src="{{ animal.pictureUrl }}" class="img-fluid" alt="Schronisko" style="height: 300px;"> 
        <p>{{ animal.name }}</p>
        <p>{{ animal.age }} lat</p>
        <p>W schronisku od {{ animal.foundDate }}</p>
        <button routerLink="" class="btn btn-primary">Poznaj mnie</button>
    </div>
</div>

  