<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="logo"></div>
  <button style="float:right" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto" style="margin:auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Strona główna</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Do adopcji
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/doadopcji/wszystkie">Wszystkie</a>
          <a class="dropdown-item" routerLink="/doadopcji/psy">Psy</a>
          <a class="dropdown-item" routerLink="/doadopcji/koty">Koty</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="telefon">Telefon alarmowy</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pomoc schronisku
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="wolontariat">Wolonatriat</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="kontakt">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/login">Logowanie</a>
      </li>
    </ul>
  </div>
</nav>

<div class="icon-bar">
  <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
  <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
</div>

<div class="frontpage-background">
  <div style="height: 300px;"></div>
  <div class="main-body">
    <router-outlet></router-outlet>
  </div>
  <div style="height: 50px;"></div>
</div>

<footer>
  <div class="row text-center" style="padding-bottom: 15px;">
    <div class="col">
      <h3>O schronisku</h3>
      <div class="row" style="padding-left: 50px;">
        <a href="#">Statut schroniska</a>
      </div>
      <div class="row" style="padding-left: 50px;">
        <a href="#">Osoby odpowiedzialne</a>
      </div>
      <div class="row" style="padding-left: 50px;">
        <a href="#">Historia</a>
      </div>
      <div class="row" style="padding-left: 50px;">
        <a href="#">Informacje prawne</a>
      </div>
    </div>
    <div class="col">
      <h3>Kontakt</h3>
      <div class="row" style="padding-left: 50px;">
        <b>Telefon:</b> 799 454 133
      </div>
      <div class="row" style="padding-left: 50px;">
        <b>Adres:</b> Grochowska 4i/20, 78-100 Kołobrzeg
      </div>
      <div class="row" style="padding-left: 50px;">
        <b>Wsparcie 1% KRS:</b> 00000 14574
      </div>
      <div class="row" style="padding-left: 50px;">
        <b>NIP:</b> 7631439453
      </div>
      <div class="row" style="padding-left: 50px;">
        <b>REGON:</b> 000308583
      </div>
    </div>
  </div>
</footer>

