<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="logo" routerLink="" style="cursor: pointer"></div>
    <button style="float:right" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" style="margin:auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/login" routerLinkActive="active">Wyloguj</a>
        </li>
      </ul>
    </div>
</nav>
<div class="main-body">
    <router-outlet></router-outlet>
</div>