<div class="row" style="padding-top: 50px; padding-left: 40px; padding-right: 40px">
    <!-- Animals search & Add -->
    <div class="col-7" style="background-color:lightgreen; padding-top: 100px;">
        <div class="row">
            <div class="col-7" style="background-color: lightpink;">
                Wszystkie zwierzęta
            </div>
            <div class="col-5" style="background-color: lightslategrey;">
                <div class="row justify-content-around">
                    <button class="btn btn-primary">Dodaj zwierzę</button>
                    <button class="btn btn-secondary">Słownik ras</button>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: maroon;">
            <input type="text" placeholder="Szukaj po imieniu lub opisie" class="form-control" name="anyText" id="anyText"/>
        </div>
        <div id="animals" class="row" style="background-color: magenta;">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto" *ngFor="let animal of presentedAnimals" routerLink="./{{ animal.id }}">
                    <!-- <div class="ver_mas text-center">
                        <span  class="lnr">Poznaj mnie</span>
                    </div> -->
                        <article class="text-left">
                        <h2>{{ animal.name }}<span class="specie">{{ animal.species }}</span></h2>
                        <h4>Z nami od {{ animal.foundDate | date: 'mediumDate' }}</h4>
                        </article>
                        <img src="{{ animal.pictureUrl }}" alt="" style="object-fit: cover;">
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mail & Posts -->
    <div class="col-5" style="background-color: lightpink">
        <!-- Emails -->
        <div class="row" style="background-color: mistyrose">
            <div class="col-7" style="background-color: olivedrab;">
                Poczta
            </div>
            <div class="col-5" style="background-color: lightslategrey;">
                <div class="row justify-content-around">
                    <button class="btn btn-primary">Nowy mail</button>
                    <button class="btn btn-secondary">Szczegóły</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="height: 250px;">
                Maile
            </div>
        </div>

        <div class="row" style="background-color: mediumslateblue;">
            <div class="col-8">Artykuły</div>
            <div class="col-4" style="background-color: orchid;">
                <button class="btn btn-primary">Dodaj</button>
            </div>
        </div>
        <div class="row" style="background-color: orange;">
            <div class="col" style="height: 250px;">
                Artykuly
            </div>
        </div>
    </div>
</div>