<div class="new-mail-box">
    <form [formGroup]="animalForm">
        <h1 class="h3 mb-3 font-weight-normal">Nowe zwierzę do adopcji</h1>
        <div class="form-group row">
            <div>
                Zdjęcie
            </div>
            <div class="col-4">
                <div class="col-sm-5 ngb-dp-day ngb-dp-today">
                    <div class="input-group">
                        <input type="text" class="form-control" ngbDatepicker placeholder="yyyy-mm-dd" formControlName="foundDate" #dpFrom="ngbDatepicker"/>
                    <div class="input-group-append">
                        <button
                            class="btn btn-outline-primary calendar"
                            (click)="dpFrom.toggle()"
                            type="button"
                        >
                        <i class="far fa-calendar-alt" style="color: #20c997;"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <input formControlName="age" type="number" id="inputAge" class="form-control" placeholder="Przybliżony wiek" autofocus="">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8">
                <input formControlName="name" type="text" id="inputName" class="form-control" placeholder="Jak się wabi">
            </div>
            <!-- <div class="col-4">
                <button class="btn btn-primary" id="dropdownGatunek" ngbDropdownToggle>
                    <span *ngIf="animalForm.get('isDogIsCat')?.value === ''">Wszystkie zwierzęta</span>
                    <span *ngIf="animalForm.get('isDogIsCat')?.value != ''">{{ animalForm.get('specie')?.value }}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownGatunek">
                    <button class="dropdown-item" (click)="animalForm.get('isDogIsCat')?.setValue('')">
                        Gatunek
                    </button>
                    <button class="dropdown-item" *ngFor="let gatunek of ['Pies', 'Kot']" (click)="animalForm.get('isDogIsCat')?.setValue(gatunek)">
                        {{ gatunek }}
                    </button>
                </div>
            </div> -->
        </div>

        <div class="form-group row">
            <div class="col-8">
                <input formControlName="keywords" type="text" id="inputKeywords" class="form-control" placeholder="Słowa kluczowe - oddzielaj przecinkiem">
            </div>
            <!-- <div class="col-4">
                <button class="btn btn-primary" id="dropdownSpecies" ngbDropdownToggle>
                    <span *ngIf="animalForm.get('species')?.value === ''">Wszystkie zwierzęta</span>
                    <span *ngIf="animalForm.get('species')?.value != ''">{{ animalForm.get('species')?.value }}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownSpecies">
                    <button class="dropdown-item" (click)="animalForm.get('species')?.setValue('')">
                        Rasa
                    </button>
                    <button class="dropdown-item" *ngFor="let gatunek of ['Pies', 'Kot']" (click)="animalForm.get('species')?.setValue(gatunek)">
                        {{ gatunek }}
                    </button>
                </div>
            </div> -->
        </div>

        <div class="form-group row">
            <div class="col-10">
                <label for="inputDescription" class="sr-only">Opis</label>
                <textarea formControlName="description" type="text" id="inputDescription" class="form-control" rows="4" placeholder="Opis"></textarea>
            </div>
        </div>
        <div style="color: red">
            {{ errorMessage }}
        </div>
        <button class="btn btn-primary" type="submit" (click)="send()">Dodaj</button>
    </form>
</div>